In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Nueva sección

In [0]:
df = pd.read_excel('/content/drive/My Drive/Proyecto SaturdaysAI - Prediccion de ludopatia/EstudioPrevalencia2015.xlsx', 1)

In [0]:
### Importación de las librerías necesarias ###
###############################################
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import svm
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier

from pylab import rcParams

from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier
from collections import Counter

from sklearn.naive_bayes import GaussianNB
from sklearn.feature_selection import SelectKBest

%matplotlib inline

In [0]:
df.describe()

            numero  modalidad  ...  revisadas_personales  revisadas_telefónicas
count  6816.000000     6816.0  ...                 660.0                 1307.0
mean   4577.223738        1.0  ...                   1.0                    1.0
std    2076.015852        0.0  ...                   0.0                    0.0
min    1006.000000        1.0  ...                   1.0                    1.0
25%    2777.750000        1.0  ...                   1.0                    1.0
50%    4565.500000        1.0  ...                   1.0                    1.0
75%    6359.250000        1.0  ...                   1.0                    1.0
max    8240.000000        1.0  ...                   1.0                    1.0

[8 rows x 240 columns]

In [0]:
# Declaración de funciones para limpiar el Dataframe

def change_99_100(x):
    if (type(x) == int or type(x) == float) and x >= 99.0:
      return None
    else :
      return x

def change_column_P23(x):
    if (type(x) == int or type(x) == float) and x >= 2.0:
      return 2.0
    else :
      return x

def cleanDataset(df):
  new_df = df.dropna(axis=1, how='all')
  print("Empty dropped values: " + str(df.shape[1]-new_df.shape[1]))
  new_df = new_df.drop(['numero', 'modalidad'],1)
  print("Eliminadas columnas que no aportan valor ", new_df.shape)
  new_df = new_df[new_df['P23'] <= 3]
  print("Eliminadas filas que no han contestado a la variable objetivo ", new_df.shape )
  # new_df = new_df.apply(lambda x: x >= 99 if None else x)
  new_df = new_df.apply(change_99_100)
  print("Eliminados los valores de 99 o 100", new_df.shape)
  new_df['P23'] = new_df['P23'].apply(change_column_P23)
  print("Unificados Valores de P23 2 y 3 en solo 2", new_df.shape)
  return new_df

In [0]:
# Análisis de variables con valores escasos

print(new_df.shape)
sparse_values_df = pd.DataFrame()
for column in new_df.columns:
  if new_df[column].count() < int(0.2*new_df.shape[0]):
    sparse_values_df[column] = new_df[column]

print(sparse_values_df.shape)
sparse_values_df.head()

(5159, 217)
(5159, 78)

   POf3_2  POF4  P3B  ...  DB6B  revisadas_personales  revisadas_telefónicas
0     NaN   NaN  NaN  ...   NaN                   NaN                    NaN
1     NaN   NaN  NaN  ...   NaN                   NaN                    NaN
2     NaN   NaN  NaN  ...   NaN                   NaN                    NaN
3     NaN   NaN  NaN  ...   NaN                   NaN                    NaN
4     NaN   NaN  NaN  ...   NaN                   NaN                    1.0

[5 rows x 78 columns]

In [0]:
new_df.columns

In [0]:
### Variable Objetivo ###
plot= new_df['P23'].value_counts().plot(kind='barh', title="Variable objetivo")

In [0]:
### Tabla Variable objetivo - Comunidad autónoma ###
pd.crosstab(new_df['P23'], new_df['P0R1'], margins=True)

In [0]:
sns.set()
%config InlineBackend.figure_format='retina'
sns.countplot(x='P0R1', hue='P23', data=new_df);

In [0]:
new_df['P23'].unique()

In [0]:
### Histograma de la edad ###
sns.distplot(new_df['P0B2'])

In [0]:
### Histograma del sexo ###
sns.distplot(new_df['P0C'])

In [0]:
### Histograma Estado de Salud ###
sns.distplot(new_df['P28'])